<H2>Welcome to {{ inventory_hostname }} at Windy City Hosting!</H2>
<p>This webserver has {{ ansible_memtotal_mb }} MB of RAM to serve up your requests on {{ ansible_default_ipv4.address }}. If you have questions, please email {{ ansible_local.custom.customer.contact }}</p>
